.calculation {
  padding-bottom: 40px;
}

.calculation__header {
  margin-bottom: 55px;
  font-weight: 800;
}

.calculation__slider-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.range-slider {
  width: 68%;
}

.slider-input-label {
  margin-right: 65px;
  font-size: 16px;
  font-weight: 800;
}

.slider-input {
  margin-left: 20px;
  padding: 10px;
  max-width: 110px;
  font-size: 16px;
  font-weight: 800;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}

.noUi-horizontal {
  height: 3px;
  border: none;
  background: #e9e9e9;

  .noUi-handle.noUi-handle-lower {
    width: 25px;
    height: 25px;
    top: -10px;
    border: 1px solid var(--text-color-red);
    border-radius: 50%;
    cursor: pointer;
  }
}

.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 3px;
  background: var(--text-color-red);
  left: 45%;
  top: 44%;
}

.noUi-marker-horizontal.noUi-marker-large {
  width: 10px;
  height: 10px;
  margin-top: -17px;
  background-color:#e9e9e9;
  border-radius: 50%;
}

.noUi-handle:after {
  display: none;
}

.noUi-marker.noUi-marker-horizontal.noUi-marker-normal {
  display: none;
}

.calculation__cards {
  display: flex;
  margin-bottom: 30px;
}

.calculation__card {
  position: relative;
  padding: 25px 75px 125px;
  max-width: 50%;
  background-color:#f6f6f6;
}

.calculation__card:first-child {
  border-right: 1px solid #e6e6e6;
}

.calculation__card-header {
  margin: 0;
  margin-bottom: 15px;
}

.calculation__card-descr {
  line-height: 1;
}

.calculation__card-link {
  color: var(--text-color-red);
}

.calculation__card-cost {
  position: absolute;
  left: calc(50% - 110px);
  bottom: 15px;
  padding: 20px 40px;
  background-color: #fff;
  font-size: 36px;
  font-weight: 800;
}

.calculation__btns-wrapper {
  display: flex;
  align-items: center;
}

.calculation__btn-container {
  width: 50%;
}

.calculation__btn-container:first-child {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.calculation__btn-container:last-child {
  padding-left: 15px;
}

.calculation__btn {
  display: inline-block;
  padding: 15px 70px;
  color: #fff;
  font-weight: 800;
  background-color: var(--text-color-red);
  border-radius: 30px;
}

