.detailes {
  margin-bottom: 10px;
  padding-bottom: 28px;
  background-image: url(../img/images/bg1.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 47%;
  border-bottom: 13px solid #ddd9b3;
}

.detailes-header {
  margin-bottom: 55px;
  text-align: center;
}

.detailes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 75px;
}

.detailes-info {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.detailes__text {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.detailes-info__bold-text {
  display: block;
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color-black);
}

.detailes-info__text {
  display: block;
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color-black);
}

.detailes__text {
  max-width: 560px;

  p {
    font-size: 16px;
    line-height: 1.75;
  }
}
