:root {
  --text-color: #686868;
  --text-color-red: #ff4200;
  --link-color: #005699;
  --text-color-grey: #929292;
  --text-color-black: #333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  font-family: 'Opensans';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bolditalic-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Opensans';
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Opensans';
  font-weight: 900;
  font-style: bold;
  src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Opensans';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Opensans';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-italic-webfont.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Opensans';
  font-weight: 800;
  font-style: bold;
  src: url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibolditalic-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Opensans';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/opensans-light-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Opensans';
  font-weight: 800;
  font-style: bold;
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Opensans';
  font-weight: 700;
  font-style: bold;
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Opensans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: 'Opensans', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--text-color-black);
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  color: var(--text-color-black);
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 42px;
  line-height: 1.1;
  font-weight: 900;
  color: var(--text-color-black);
}

.container {
  max-width: 1135px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  font-family: 'Opensans', sans-serif;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.red-text {
  color: var(--text-color-red);
}

.grey-text {
  color: var(--text-color-grey);
}

.detailes-link-wrapper {
  text-align: right;
}

.detailes-link {
  font-size: 18px;
  color: #005699;
  font-weight: 600;
  line-height: 2.5;
}

.section-border {
  border-bottom: 13px solid #ddd9b3;
}
