.guaranty {
  padding: 52px 0 83px;
}

.guaranty-container {
  padding-bottom: 45px;
  background-image: url(../img/images/guaranty.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.guaranty__inner {
  max-width: 220px;
}

.guaranty__header {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 800;
}

.guaranty__text {
  margin-bottom: 70px;
}
