.placement {
  margin-bottom: 15px;
}

.placement_list {
  display: grid;
  grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
  gap: 23px;
}

.placement_list__item {
  background-color: $primary_color;
  border-radius: 15px;

  span {
    display: inline-block;
  }

  img {
    object-fit: cover;
  }
}

.placement_inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 36px 46px 41px 45px;
}

.placement__descr {
  max-width: 191px;
}

.from {
  color: $lighter_dark;
  font-size: 16px;
  line-height: 1;
  margin-right: 5px;
}

.strong {
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  color: $main_text_color;
}

.placename {
  line-height: 1;
}

.placename_rus {
  color: $lighter_dark;
  margin-bottom: 20px;
}

.stars_list {
  display: flex;
  align-items: center;
}

.stars_item:not(:last-child) {
  margin-right: 6px;
}

.last_item {
  position: relative;
  background-image: url(../img/place_img_9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.more_options {
  position: absolute;
  left: 54px;
  bottom: 27px;
  color: $primary_color;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;

  img {
    margin-bottom: -3px;
  }
}
