.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $orange_color;
  padding: 25px 0;
  z-index: 1;
}

.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__list__item {
  position: relative;
  padding-left: 20px;

  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3px;
    left: 0;
    border-radius: 100%;
    border: 1px solid $text_color;
    background-color: transparent;
  }

  .header__list__link {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
  }
}

.header__list__item:hover {
  &::before {
    background-color: #fff;
  }
}

.header__list__item:not(:last-child) {
  margin-right: 30px;
}
