.policy__container {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #eee;
}

.policy__h2 {
  margin-bottom: 25px;
}

.policy__p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

.policy__block {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  padding-left: 50px;
  margin-bottom: 25px;
}
