.header {
  margin-bottom: 30px;
  z-index: 1;
}

.mobile-logo-wrapper {
  display: none;
}

.header-top {
  padding: 15px 0;
  background-color: var(--grey_light);
}

.header-top__container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.city-label {
  min-width: 185px;
  color: var(--black);
  font-size: 16px;
  line-height: 120%;
  margin-right: 26px;

  .is-open {
    .choices__inner {
      border-radius: 0;
    }
  }

  .is-flipped.is-open {
    .choices__inner {
      border-radius: 0;
    }
  }
}

.choices[data-type*=select-one] {
  display: inline-block;
  cursor: pointer;

  .choices__inner {
    font-size: 16px;
    line-height: 120%;
    min-height: auto;
    padding: 2px 3px;
    color: var(--primary_main);
    background-color: transparent;
    border: none;
  }
}

.choices__list--single {
  padding: 0 16px 0 0;
}

.choices__list--dropdown {
  word-break: keep-all;
}

.choices[data-type*=select-one]::after {
  width: 8px;
  height: 8px;
  right: 5px;
  top: 35%;
  border-color: transparent;
  border-right: 1px solid var(--primary_main);
  border-bottom: 1px solid var(--primary_main);
  transform: rotate(45deg);
  transition: transform .3s ease;
}

.choices[data-type*=select-one].is-open::after {
  top: 60%;
  transform: rotate(-135deg);
  transition: transform .3s ease;
}

.is-open {
  .choices__list--dropdown {
    border: 2px solid #f7f7f7;
  }
}

.choices__list--dropdown {
  min-width: 80px;
  border-radius: 0px;

  .choices__item {
    padding: 16px 8px 8px;
  }

  .choices__item.choices__item--choice.is-selected.choices__item--selectable {
    display: none;
  }
}

.city-label {
  .choices:hover {
    .choices__item.choices__item--selectable {
      color: var(--primary_light);
      transition: .3s color ease;
    }

    .choices__item.choices__item--choice {
      color: var(--black);
      background-color: var(--white);
    }

    .choices__item.choices__item--choice.choices__item--selectable.is-highlighted {
      background-color: #f2f2f2;
    }
  }

  .choices[data-type*=select-one]:hover::after {
    border-right: 1px solid var(--primary_light);
    border-bottom: 1px solid var(--primary_light);
    transition: .3s all ease;
  }

  .choices[data-type*=select-one]:focus::after {
    border-right: 1px solid var(--primary_shade);
    border-bottom: 1px solid var(--primary_shade);
    transition: .3s all ease;
  }


  .choices.is-focused {
    .choices__inner {
      color: var(--primary_shade);
      background-color: var(--pink_violet);
      border-radius: 0;
      transition: .3s color ease;
      transition: .3s background-color ease;
    }
  }
}

.tel-number {
  display: inline-block;
  margin-right: auto;
  margin-top: -5px;

  svg {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    fill: var(--secondary_main);
    transition: fill .3s linear;
  }

  span {
    font-size: 14px;
    line-height: 1;
    color: var(--secondary_main);
  }
}

.tel-number:hover {
  span {
    color: var(--secondary_light);
    transition: .3s color ease;
  }

  svg {
    fill: var(--secondary_light);
    transition: .3s fill ease;
  }
}

.tel-number:focus {
  background-color: #fff5d1;
  transition: .3s background-color ease;

  span {
    color: var(--secondary_main);
    transition: .3s color ease;
  }

  svg {
    fill: var(--secondary_main);
    transition: .3s fill ease;
  }
}

.tel-number:active {
  background-color: transparent;

  span {
    color: var(--secondary_shade);
  }

  svg {
    fill: var(--secondary_shade);
  }
}

.header-top__list {
  max-width: 720px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: -6px;
}

.header-top__item:not(:last-child) {
  margin-right: 48px;
}

.header-top__item:last-child {
  margin-right: -8px;
}

.header-top__link {
  @include navLink;
}

.tablet-nav__container {
  display: none;
}

.header-middle {
  padding: 28px 0 32px;
}

.header-middle__container {
  display: flex;
  align-items: center;
}

.burger {
  display: none;
}

.header-middle__container {
  .header__box {
    display: none;
  }
}

.logo {
  display: inline-block;
  width: 187px;
  height: 25px;
  margin-right: auto;
  border: 1px solid transparent;
  transition: .3s border ease;
}

.logo:focus {
  border: 1px solid var(--primary_main);
  transition: .3s border ease;
}

.header-middle__list {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -3px;
}

.header-middle__link {
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
  padding: 0 7px;
  transition: .3s color ease;
}

.header-middle__link:hover {
  color: var(--primary_main);
  transition: .3s color ease;
}

.header-middle__link:focus {
  color: var(--black);
  background-color: var(--pink_violet);
  transition: .3s color ease;
  transition: .3s background-color ease;
}

.header-middle__link:active {
  color: var(--primary_shade);
  background-color: transparent;
}


.header-middle__item:not(:last-child) {
  padding-top: 5px;
  margin-right: 77px;
}

.header__margin-bottom {
  margin-bottom: 19px;
}

.header-bottom__container {
  display: flex;
  align-items: center;

  .header__box {
    margin-right: -2px;
  }
}

.header-bottom__form {
  display: inline-block;
}

.header-bottom__label {
  margin-right: auto;

  .choices[data-type*=select-one] {
    width: 300px;
    padding: 16px 26px;
    border: 2px solid var(--grey_light);
    border-radius: 0px 10px 10px 0px;
    transition: .3s border ease;
  }

  .choices__list--dropdown {
    width: 300px;
    border: 2px solid #f7f7f7;
    border-radius: 0px 0 10px 10px;
    padding: 22px 77px 30px 22px;
    margin-top: 2px;
    margin-left: -29px;
    z-index: 8;

    .choices__list[role="listbox"] {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .choices__item.choices__item--choice.choices__item--selectable {
      min-width: 90px;
    }
  }

  .choices[data-type*=select-one]:after {
    right: 33px;
    top: 46%;
  }

  .choices[data-type*=select-one]:hover {
    border: 2px solid var(--primary_main);
    transition: border .2s ease;
  }

  .choices[data-type*=select-one]:focus {
    border: 2px solid var(--primary_main);
    background-color: var(--pink_light);
    transition: border .2s ease;
  }

  .choices[data-type*=select-one]:active {
    border: 2px solid var(--primary_shade);
    background-color: transparent;
    transition: border .2s ease;
  }
}

.search-form {
  width: 59.5%;
  background-color: var(--grey_light);
  border-radius: 10px 0px 0px 10px;
  border: 2px solid var(--grey_light);
  transition: .3s border ease;
}

.search-form:hover {
  background-color: var(--md_grey);
  border: 2px solid var(--md_grey);
  transition: .3s background-color ease;
}

.search-form:focus {
  background-color: var(--pink_light);
  border-color: var(--primary_main);
  transition: .3s background-color ease;
  transition: .3s border-color ease;
}

.search-form__input {
  width: 91%;
  font-size: 16px;
  line-height: 120%;
  color: var(--black);
  background-color: transparent;
  border: transparent;
  padding: 18px 18px 18px 58px;
  background-image: url('../img/svg/search.svg');
  background-repeat: no-repeat;
  background-position: 30px center;
}

.search-form__input::placeholder {
  font-size: 16px;
  line-height: 120%;
  color: var(--grey);
}

.search-form__input:focus {
  background-image: url('../img/svg/search_violet.svg');

  &::placeholder {
    color: transparent;
  }
}

.header__search-btn {
  @include сircleBtn;
}

.personal-cabinet {
  display: inline-block;
  width: 34px;
  height: 38px;
  padding: 4px;
  margin-right: 23px;

  svg {
    width: 26px;
    height: 28px;
    fill: var(--primary_main);
    transition: .3s fill ease;
  }
}

.basket {
  display: inline-block;
  width: 46px;
  height: 38px;
  padding: 4px;

  svg {
    width: 38px;
    height: 26px;
    fill: var(--primary_main);
    transition: .3s fill ease;
  }
}

.personal-cabinet:hover,
.basket:hover {
  svg {
    fill: var(--primary_light);
    transition: .3s fill ease;
  }
}

.personal-cabinet:focus,
.basket:focus {
  background-color: var(--primary_light);
  transition: .3s background-color ease;

  svg {
    fill: var(--white);
    transition: .3s fill ease;
  }
}

.personal-cabinet:active,
.basket:active {
  background-color: transparent;

  svg {
    fill: var(--primary_shade);
  }
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  font-size: 14px;
  line-height: 1;
  color: var(--grey);

  .breadcrumbs__link {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

  .breadcrumbs__link:hover,
  .breadcrumbs__link:focus {
    color: var(--primary_main);
  }
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 6px;
}

.breadcrumbs__item:last-child {
  .breadcrumbs__link {
    color: var(--primary_shade);
  }
}
