.modal__field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, .3);
  z-index: -1;
  opacity: 0;
}

.modal__field.active {
  z-index: 1;
  opacity: 1;
}

.modal {
  position: relative;
  width: 624px;
  padding: 30px;
  background: var(--white);
  border-radius: 10px;
}

.modal.thank {
  padding: 118px 75px;
}

.modal__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  color: var(--black);
  margin: 0;
  margin-bottom: 8px;
}

.modal__text {
  font-size: 14px;
  line-height: 19px;
  max-width: 374px;
  color: var(--black);
  margin-bottom: 30px;
}

.modal__input {
  @include formInput;
}

.modal__btn {
  @include coloredBtn;
  padding: 19px 35px;
  margin-bottom: 12px;
}

.modal__close_btn {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  padding: 2px;
  z-index: 1;

  svg {
    width: 100%;
    height: 100%;

    path {
      fill: var(--grey);
    }
  }

  &:hover {
    svg {
      path {
        fill: var(--primary_main);
      }
    }
  }

  &:focus {
    background-color: var(--pink_violet);

    svg {
      path {
        fill: var(--primary_shade);
      }
    }
  }

  &:active {
    background-color: transparent;

    svg {
      path {
        fill: var(--primary_shade);
      }
    }
  }
}

.modal__thank__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;

  svg {
    width: 172px;
    height: 117px;
  }
}

.modal__thank__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: var(--black);
  text-align: center;
}

.modal__slider__field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, .3);
  z-index: 1;
  opacity: 1;
}

.modal__slider__field.hidden {
  z-index: -1;
  opacity: 0;
}

.sliders__container {
  max-width: 1290px;
  width: 100%;
  position: relative;
  background: var(--white);
  border-radius: 10px;
}

.modal__slide {
  width: 100%;
  padding: 50px 108px;
}

.modal__slider__img {
  width: 100%;
}

.slider__thumbs {
  width: 100%;
  background-color: var(--grey_light);
  padding: 20px 51px;
  border-radius: 0 0 10px 10px;
}

.slider__thumbs__slide {
  cursor: pointer;

  img {
    width: 100%;
  }

  .product_img-2 {
    padding-left: 40px;
    width: 70%;
  }
}

.modal__slider__btn {
  z-index: 2;
}

.slider__thumbs_prev,
.slider__thumbs_next {
  @include сircleBtn;
  opacity: 1;
  cursor: pointer;
  display: none;
}

.slider__thumbs_prev {
  .btn_arrow {
    transform: rotate(-135deg);
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}


.slider__thumbs_prev.swiper-button-disabled,
.slider__thumbs_next.swiper-button-disabled {
  border-color: var(--grey);
  opacity: 1;
}
