.useful__container {
  position: relative;
}

.swiper-container.useful__swiper {
  width: 100%;
}

.swiper-slide.useful__article {
  position: relative;
  width: calc((100% - 32px) /2);
  min-height: 676px;
  @include greyBgCard;
  padding-bottom: 100px;
}

.useful__img {
  display: block;
  max-height: 426px;
  object-fit: cover;
  margin-bottom: 30px;
}

.useful__descr {
  max-width: 567px;
  font-size: 24px;
  line-height: 33px;
  color: var(--black);
  padding-left: 30px;

}

.useful__link {
  position: absolute;
  display: inline-block;
  left: 30px;
  bottom: 30px;
  @include transparentBtn;
}

.useful__swiper_btns__wrapper {
  @include swiperBtns;
}

.useful__button_prev,
.useful__button_next {
  @include сircleBtn;
}
