.contacts {
  @include transparented;
  margin-bottom: 68px;
}

.contacts.active {
  @include reverseTransparent;
}

.contacts__title {
  margin-bottom: 22px;
}

.contacts__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

}

.map {
  position: relative;
  grid-column: 1 / 3;
  width: 100%;
  height: 461px;
  overflow: hidden;
}

.form__wrapper {
  grid-column: 3 / 4;
}

.map__address {
  position: absolute;
  width: 48.5%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(32, 32, 32, 0.85);
  z-index: 1;
}

.map__address.hide {
  transform: translate(-100%);
  transition: transform .3s ease;
}

.map__address__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map__close_btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  background-color: #666;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
}

.map__address__inner {
  max-width: 301px;
  padding-top: 27px;

  address {
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color: var(--light-gray-color);
    margin-bottom: 5px;
  }

  .tel__number {
    font-weight: normal;
  }
}

.studio__name {
  display: inline-block;
  font-family: 'TT Firs Neue', sans-serif;
  font-size: 24px;
  line-height: 22px;
  color: var(--white-color);
  margin-bottom: 5px;
}

.form__title {
  font-family: 'TT Firs Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: var(--dark-color);
  margin: 0;
  margin-top: -5px;
  margin-bottom: 5px;
}

.form__descr {
  font-size: 16px;
  line-height: 22px;
  color: var(--light-gray-color);
  margin-bottom: 14px;
}

.contacts__form {
  .mail_label {
    width: 100%;
  }
}

.contacts__form__input {
  display: inline-block;
  width: 100%;
  padding: 15px 23px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-color);
  background-color: #e9e9e9;
  border: 1px solid transparent;
  outline: none;

  &:hover::placeholder {
    color: var(--hover-color);
  }

  &:focus {
    border: 1px solid var(--orange-color);
  }

  &:active {
    border: 1px solid transparent;
  }
}

.contacts__form__input::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

.contacts__comments {
  height: 150px;
  resize: none;
}

.contacts__form_btn {
  @include orangeBtn;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.mail_label {
  position: relative;
  display: inline-block;

  span {
    position: absolute;
    top: 3px;
    left: 23px;
    font-size: 9px;
    line-height: 11px;
    color: transparent;
  }
}
