.header {
  margin-bottom: 38px;
  @include transparented;
}

.header.active {
  @include reverseTransparent;
}

.header__top {
  background-color: var(--dark-color);
  padding: 25px 0;
}

.header__top__inner {
  display: flex;
  align-items: center;

  .header__form {
    display: none;
  }

  .tel__link {
    display: none;
  }
}

.tablet_serch__btn {
  display: none;
}

.header__bottom__nav {
  display: none;
}

.logo {
  display: inline-block;
  width: 190px;
  height: 30px;
  margin-right: 138px;
}

.logo:focus {
  outline: 1px solid var(--orange-color);
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__list__item:not(:last-child) {
  margin-right: 69px;
}


.nav__link {
  font-family: 'TT Firs Neue', sans-serif;
  padding: 0 5px;
  font-size: 16px;
  line-height: 21px;
  color: var(--white-color);
  transition: color .2s ease;
}

.nav__link:hover {
  color: var(--hover-color);
}

.nav__link:focus {
  background-color: var(--orange-color);
}

.nav__link:active {
  color: var(--active-color);
  background-color: transparent;
}

.social__link {
  display: inline-block;

  svg {
    path {
      fill: #cacaca;
    }
  }

  &:hover {
    svg {
      path {
        fill: var(--hover-color);
      }
    }
  }

  &:focus {
    svg {
      path {
        fill: var(--orange-color);
      }
    }
  }

  &:active {
    svg {
      path {
        fill: var(--active-color);
      }
    }
  }
}

.social__link:not(:last-child) {
  margin-right: 20px;
}

.social__icon {
  width: 30px;
  height: 30px;
}

.header__bottom {
  padding: 11px 0;
  background-color: #4a4a4a;
}

.header__bottom__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tel__link {

  svg {
    fill: var(--gray-color);
    vertical-align: bottom;
  }

  &:hover {
    svg {
      path {
        fill: var(--hover-color);
      }
    }

    .tel__number {
      color: var(--hover-color);
    }
  }

  &:focus {
    color: var(--white-color);
    background-color: var(--orange-color);

    svg {
      path {
        fill: var(--gray-color);
      }
    }
  }

  &:active {
    background-color: transparent;

    svg {
      path {
        fill: var(--active-color);
      }
    }

    .tel__number {
      color: var(--active-color);
    }
  }
}


.tel__number {
  font-family: 'TT Firs Neue', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--white-color);
}

.header__form__btn {
  width: 16px;
  height: 16px;
  background-image: url('../img/svg/loupe.svg');
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.header__form__search {
  width: 170px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #e9e9e9;
  color: var(--white-color);


  &:hover {
    border-bottom: 1px solid var(--hover-color);
  }

  &:focus {
    border-bottom: 1px solid var(--hover-color);
  }

  &:focus::placeholder {
    color: transparent;
  }

  &:active {
    border-bottom: 1px solid var(--active-color);
  }
}

.header__form__search::placeholder {
  font-family: 'TT Firs Neue', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #E9E9E9;
}

.burger {
  display: none;
  flex-direction: column;
  width: 20px;
  height: 18px;
  cursor: pointer;
}

.burger__line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
}

.burger__line:last-child {
  width: 50%;
}

.burger__line:not(:last-child) {
  margin-bottom: 6px;
}

.nav__close_btn {
  display: none;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100px;
  background-color: #808080;
  margin-bottom: 16px;
  margin-left: 5px;
  cursor: pointer;
}
