.hero {
  @include transparented;
}

.hero.active {
  @include reverseTransparent;
}

.hero__field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 633px;
  gap: 0 30px;

}

.neon_photoset {
  position: relative;
  padding: 405px 145px 60px 60px;
  background-image: url('../img/images/hero-img_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;

  .hashtag {
    top: 15px;
    right: 15px;
  }
}

.hero__subtitle {
  font-size: 16px;
  line-height: 19px;
  color: var(--white-color);
}

.hero__title {
  max-width: 415px;
  font-family: 'TT First neue', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
  color: var(--white-color);
  margin-top: 0;
  margin-bottom: 24px;
}

.hero__link {
  @include orangeBtn;
}

.hero__photo__title {
  font-family: 'TT First neue', sans-serif;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 65%;
  color: var(--dark-color);
}

.hero__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: 345px 300px;
  gap: 30px;
}

.grid__item {
  grid-column: 1 / 3;
}
