.studio {
  @include transparented;
  padding: 27px 0 70px;
  background-color: var(--dark-color);
}

.studio.active {
  @include reverseTransparent;
}

.studio__title {
  margin: 0;
  margin-bottom: 5px;
  color: var(--white-color);
}

.studio__content_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;
}

.studio__descr {
  font-size: 16px;
  line-height: 28px;
  color: #cacaca;
  margin: 0;
}

.studio__img {
  margin-bottom: 20px;
}

.about__form {
  .mail_label {
    width: 74.7%;
    margin-right: 30px;
  }
}

.form_title {
  display: inline-block;
  font-family: 'TT Firs Neue';
  font-size: 24px;
  line-height: 22px;
  color: var(--white-color);
  margin-bottom: 16px;
}

.about__form__input {
  width: 100%;
  padding: 15px 23px;
  font-size: 16px;
  line-height: 19px;
  color: var(--white-color);
  background-color: #4a4a4a;
  border: 1px solid transparent;
  outline: none;

  &:hover::placeholder {
    color: var(--hover-color);
  }

  &:focus {
    border: 1px solid var(--orange-color);
  }

  &:active {
    border: 1px solid transparent;
  }
}

.about__form__input::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #CACACA;
}

.about__form__btn {
  @include orangeBtn;
  cursor: pointer;
}
