.contacts__title {
  margin-bottom: 16px;
}

.contacts__input {
  @include formInput;
  display: inline-block;
  width: 624px;
  margin: 0;
  margin-right: 32px;
}

.contacts__btn {
  @include coloredBtn;
  padding: 17px 35px;
}

.contacts__form {
  margin-bottom: 32px;
}

.contacts__map {
  width: 100%;
  height: 510px;
}

.ymaps-2-1-79-image:hover {
  width: 50px;
}
