.footer_top {
  padding: 24px 0;
  background-color: var(--md_grey);
}

.footer_top__container {
  display: flex;
  align-items: center;
}

.footer__inner {
  margin-right: 250px;
}

.footer__logo {
  margin-bottom: 31px;
}

.social__link {
  display: inline-block;
  width: 30px;
  height: 30px;

  svg {
    path {
      fill: var(--grey);
    }
  }
}

.social__link:not(:last-child) {
  margin-right: 20px;
}

.social__link:hover {
  svg {
    path {
      fill: var(--primary_main);
    }
  }
}

.social__link:focus {
  background-color: var(--primary_light);

  svg {
    path {
      fill: var(--white);
    }
  }
}

.social__link:active {
  background-color: transparent;

  svg {
    path {
      fill: var(--primary_shade);
    }
  }
}

.footer__list {
  display: flex;
  align-items: flex-start;
}

.footer__item {
  display: flex;
  flex-direction: column;
}

.footer__item:not(:last-child) {
  margin-right: 122px;
}

.footer__item__title {
  font-size: 16px;
  line-height: 1;
  color: var(--black);
  margin-bottom: 10px;
}

.footer__link {
  @include navLink;
  margin-left: -8px;
}

.footer__link:not(:last-child) {
  margin-bottom: 10px;
}

.footer_bottom {
  padding: 5px 0;
  background-color: var(--white);
}

.footer_bottom__container {
  text-align: center;

  span {
    font-size: 14px;
    line-height: 19px;
    color: var(--grey);
  }
}
