.special_offers__container {
  position: relative;
}

.offer_cards__field.swiper-container {
  width: 100%;
}

.offers_title {
  margin-bottom: 26px;
}

.card {
  position: relative;
  max-width: 296px;
  padding: 0 30px 30px 30px;
  @include greyBgCard;
}

.card:nth-child(2),
.card:nth-child(5) {
  max-width: 624px;
}

.card_img__wrapper {
  min-height: 298px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}

.card__ticket {
  position: absolute;
  top: 27px;
  left: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white);
  padding: 7px 29px 7px 19px;
  background-color: var(--secondary_main);
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}

.card__title {
  max-width: 222px;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: var(--black);
  margin: 0;
  margin-bottom: 19px;
}

.card__cost_wrapper {
  max-width: 203px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;

  span {
    display: inline-block;
  }
}

.card_sale {
  font-size: 18px;
  line-height: 130%;
  color: var(--secondary_main);
}

.card_cost {
  font-size: 16px;
  line-height: 130%;
  text-decoration-line: line-through;
  color: var(--grey);
}

.offer_card__btn {
  @include transparentBtn;
}

.card__pattern {
  position: absolute;
  max-width: 235px;
  max-height: 125px;
  right: 32px;
  bottom: 32px;
}

.offer__button_prev,
.offer__button_next {
  @include сircleBtn;
}

.offer__swiper_btns__wrapper {
  @include swiperBtns;
}
