.product__header_bottom {
  margin-bottom: 23px;
}

.product__container {
  display: flex;
}

.product__page__left {
  margin-right: 32px;
}

.product__page__left {
  max-width: 624px;
}

.product__main_img {
  width: 100%;
  margin-bottom: 16px;
}

.product__img_wrapper {
  margin-bottom: 32px;
}

.product__secondary_picture:not(:last-child) {
  margin-right: 38px;
}

.product__article {
  margin-bottom: 105px;

}

.product__article__title {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  margin-right: 8px;
  color: var(--black);
}

.product__descr {
  font-size: 14px;
  line-height: 1.8;
  color: var(--black);
}

.product__pattern {
  max-width: 247px;
}

.product__pattern:first-of-type {
  margin-right: 32px;
}

.product__page__right {
  max-width: 544px;

  .product__index {
    position: static;
  }
}

.product__title {
  max-width: 100%;
  margin-bottom: 5px;
}

.product__subtitle {
  display: block;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 21px;
  color: var(--grey);
}

.product__cost {
  display: block;
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 21px;
  color: var(--black);
}

.product__btn {
  display: block;
  @include coloredBtn;
  padding: 19px 35px;
  margin-bottom: 12px;
}

.basket_btn {
  font-size: 16px;
  line-height: 1.3;
  color: var(--primary_main);
  padding: 0 1px;
  margin-bottom: 111px;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid var(--primary_main);
    transition: border-bottom .3s ease;
  }

  &:focus {
    color: var(--white);
    background-color: var(--primary_light);
  }

  &:active {
    color: var(--primary_shade);
    background-color: transparent;
    border-bottom: 1px solid var(--primary_shade);
  }
}

.product__features {
  width: 100%;
}

.product__feature {
  position: relative;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.feature__name,
.feature__condition {
  display: inline-block;
  font-size: 14px;
  line-height: 1.8;
  padding: 0 4px;
  background-color: var(--white);
}

.feature__name {
  color: var(--grey);
}

.feature__condition {
  min-width: 223px;
  color: var(--black);
}

.feature__border {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7px;
  width: 100%;
  height: 2px;
  background-image: url('../img/svg/dotted_border.svg');
  background-repeat: repeat-x;
  z-index: -1;
}

.product__more {
  position: relative;
}

.product__swiper_btns__wrapper {
  @include swiperBtns;
}

.product__button_prev,
.product__button_next {
  @include сircleBtn;
}

.product__swiper {
  .product__item {
    margin: 0;
  }
}
