.promo__swiper.swiper-container {
  width: 100vw;

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--black);
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }

  .swiper-container-horizontal {

    .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 20px;
    }
  }

  .swiper-container-horizontal {
    .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 7px;
    }
  }
}

.swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.promo__slide1 {
  background-image: url('../img/images/promo_bg-1.jpg');
}

.promo__slide2 {
  background-image: url('../img/images/promo_bg-2.jpg');
}

.promo__slide3 {
  background-image: url('../img/images/promo_bg-3.jpg');

  .promo_sale {
    color: var(--white);
  }
}

.slide__inner {
  padding: 80px 0;
}

.promo_sale {
  max-width: 560px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: var(--grey);
  margin-bottom: 50px;
}

.promo_btn {
  @include coloredBtn;
}
