:root {
  --color-white: #fff;
  --color-blue: #1EACC7;
  --color-pink: #FF5656;
}

body {
  position: relative;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.blue-text {
  color: var(--color-blue);
}

.header-top {
  background-color: #212121;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

.nav-list__item:not(:last-child) {
  padding-right: 30px;
  border-right: 2px dashed #000000;
}

.nav-list__link {
  color: var(--color-white);
  font-weight: 300;
}

.btn {
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-white);
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.header-bottom {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: 300;
}

.header-bottom__inner {
  padding: 20px 55px;
  display: flex;
  align-items: center;
}

.header__btn {
  font-size: 14px;
  padding: 15px 25px;
}

.logo__wrapper {
  max-width: 285px;
  margin-right: auto;
}

.call__wrapper {
  max-width: 166px;
  margin-right: 25px;

  .call__additional {
    font-size: 12px;
    line-height: 14px
  }

  .tel {
    display: block;
    font-size: 22px;
    line-height: 1;
    color: var(--color-white);
  }
}

.hero {
  padding: 216px 0 185px 0;
  color: var(--color-white);
  background-image: url(../img/bg_images/hero_bg.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-container {
  padding: 0 55px;
}

.hero__article {
  margin-top: 28px;
}

.hero__article .hero__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.hero__btn {
  margin-top: 116px;
  font-size: 18px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  padding: 20px 35px;
}

.advantages-container {
  padding: 20px 0 64px;
}

.mini-title__wrapper {
  text-align: center;

  .mini-title {
    display: inline-block;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 15px;
    background-color: #000;
    margin-bottom: 33px;
  }

  .advantages_title {
    text-transform: uppercase;
    margin-bottom: 25px;
  }
}

.mini-title__wrapper p {
  margin-bottom: 30px;
}

.row-container {
  padding: 0 33px;

  .card-inner {
    align-items: center;
    margin-bottom: 30px;
  }

  .img-wrapper {
    width: 116px;
    height: 116px;
    background-color: var(--color-blue);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blue-title {
    font-size: 17px;
    margin-bottom: 0;
  }
}

.possibilities-container {
  padding-bottom: 60px;
}

.possibilities__item__wrapper {
  padding: 0 50px;

  .possibilities__list__item {
    min-height: 280px;
    margin-bottom: 20px;
    position: relative;


    .possibilities__title {
      position: absolute;
      width: 276px;
      top: 82px;
      left: calc((100% - 276px)/2);
      font-weight: 400;
      font-size: 24px;
      line-height: 1;
      text-transform: uppercase;
      color: var(--color-white);
      text-align: center;
    }

    .plus-btn {
      position: absolute;
      left: calc((100% - 30px)/2);
      bottom: 35px;
      width: 30px;
      height: 30px;
      background-color: #000;
      background-image: url(../img/icons/Plus.svg);
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: center;
      border-radius: 100px;
      cursor: pointer;
    }
  }
}

.mobile_bg-1 {
  background-image: url(../img/bg_images/mobile_bg-1.png);
  background-size: cover;
  background-position: center;
}

.mobile_bg-2 {
  background-image: url(../img/bg_images/mobile_bg-2.png);
  background-size: cover;
  background-position: center;
}

.mobile_bg-3 {
  background-image: url(../img/bg_images/mobile_bg-3.png);
  background-size: cover;
  background-position: center;
}

.mobile_bg-4 {
  background-image: url(../img/bg_images/mobile_bg-4.png);
  background-size: cover;
  background-position: center;
}

.mobile_bg-5 {
  background-image: url(../img/bg_images/mobile_bg-5.png);
  background-size: cover;
  background-position: center;
}

.mobile_bg-6 {
  background-image: url(../img/bg_images/mobile_bg-6.png);
  background-size: cover;
  background-position: center;
}

.choise {
  background-image: url(../img/bg_images/bg_choise.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.choise-container {
  padding: 55px 0 137px;
}

.choise-title__wrapper {
  .choise_mini_title {
    background-color: var(--color-white);
    color: #000;
  }

  .choise_title {
    color: #fff;
  }

  .choise_subtitle {
    color: #fff;
    margin-bottom: 537px;
  }
}

.bottom-text {
  text-align: center;
  width: 327px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
}

.conditions-container {
  padding: 66px 0 87px;
}

.conditions_title {
  margin-bottom: 37px;
}

.subconditions {
  font-size: 22px;
  font-weight: 400;
}

.conditions-list {
  list-style-image: url(../img/icons/check_blue.png);
  margin-bottom: 25px;
  padding-left: 50px;
}

.conditions__item {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
}

.earning {
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 60px;
}

.pink-text {
  color: var(--color-pink);
}

.pink-list {
  list-style-image: url(../img/icons/check_red.png);
}

.world {
  padding: 48px 0 40px;
  background: #080816;
  background-image: url(../img/bg_images/world_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.world__link {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 68px;
  text-transform: uppercase;
}

footer {
  position: relative;
}

.footer-container {
  padding: 11px 0 38px;
}

.blue_line {
  width: 301px;
  height: 7px;
  background: var(--color-blue);
  margin: 0 auto 32px;
}

.footer-list,
.footer-nav-list {
  list-style: none;
}

.footer-list {
  padding: 0 15px;
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-list__item a {
  color: #070716;
}

.footer-nav-list {
  font-weight: 300;
  font-size: 11px;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-nav-list a {
  color: #999999;
}

.language-link {
  text-align: center;

  a {
    font-size: 11px;
    text-transform: uppercase;
    color: #1FBAD6;
  }
}

.social-list {
  position: absolute;
  top: 50px;
  left: 15px;
  width: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: #070716;
}

.store-img {
  width: 95px;
  height: 27px;
}

.store-list {
  list-style: none;
  position: absolute;
  top: 50px;
  right: 15px;
  width: 296px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
