@media screen and (max-width: 560px) {
  .cooperation__descr__title {
    font-size: 15px;
    line-height: 22px;
  }

  .cooperation__text {
    font-size: 14px;
  }

  .warranty {
    padding: 22px 0 22px 58px;
    background-position: left center;
    background-size: 36px 54px;

    span {
      font-size: 16px;
    }
  }
}
