@media screen and (max-width: 1320px) {

  .product__item {
    width: calc((100% - 68px)/ 3);
  }

  .product__item:nth-child(4n) {
    margin-right: auto;
  }

  .product__item:nth-child(3n) {
    margin-right: 0;
  }

  .footer__item:not(:last-child) {
    margin-right: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 36px;
  }

  .header_top {
    padding: 19px 0;
    background-color: var(--white);
  }

  .header_top__container {
    margin-bottom: 18px;
  }

  .desktop_nav {
    display: none;
  }

  .city_label {
    margin-right: auto;
  }

  .tel_number {
    margin-right: 0;
  }

  .tablet_nav__wrapper {
    background-color: var(--grey_light);
  }

  .tablet_nav__container {
    display: flex;
    align-items: center;
    padding: 11px 0;
  }

  .tablet_nav {
    margin-right: auto;
  }

  .header_top__list {
    margin-left: -10px;
  }

  .header_top__list__item:not(:last-child) {
    margin-right: 49px;
  }

  .header_middle {
    padding: 11px 0;
    margin-bottom: 25px;
  }

  .bottom_header__label {
    .choices[data-type*=select-one] {
      padding: 18px 30px;
    }
  }

  .header_middle__list__item:not(:last-child) {
    margin-right: 27px;
  }

  .header_bottom__container {
    .header__box {
      display: none;
    }
  }

  .search_form {
    width: 70%;
  }

  .bottom_header__label {
    .choices__list--dropdown {
      margin-top: 2px;
      margin-left: -33px;
    }
  }

  .slide__inner {
    padding: 78px 0;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 20px;
  }

  .promo__swiper.swiper-container .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7px;
  }

  .swiper__controls {
    right: 36px;
  }

  .card__pattern {
    display: none;
  }

  .card:nth-child(2),
  .card:nth-child(5) {
    width: calc((100% - 64px) /3);
  }

  .card {
    width: calc((100% - 64px) /3);
  }

  .display_none {
    display: none;
  }

  .top__field {
    grid-auto-flow: dense;

    .top__card:nth-child(1) {
      grid-column: 4 span;
    }

    .top__card:nth-child(2) {
      grid-column: 2 span;
      grid-column: 3 / 5;
    }

    .top__card:nth-child(3) {
      grid-column: 5 / 7;
      grid-row: 1 / 2;
    }
  }

  .top__card {
    padding-bottom: 89px;
  }

  .top__card__img {
    max-width: 111%;
  }

  .swiper-slide.useful__article {
    min-height: 456px;
    width: calc((100% - 64px)/ 3);
  }

  .useful_title {
    margin-bottom: 21px;
  }

  .useful__descr {
    font-size: 16px;
    line-height: 22px;
    padding-right: 30px;
  }

  .feedback__title {
    margin-bottom: 9px;
  }

  .feedback__img {
    max-width: 514px;
  }

  .footer__inner {
    margin-right: 32px;
  }

  .footer__item:not(:last-child) {
    margin-right: 85px;
  }
}

@media screen and (max-width: 1023px) {
  .header_top__list__item:not(:last-child) {
    margin-right: 14px;
  }

  .tablet_nav {
    padding: 18px 0;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27px;
    height: 27px;
    padding: 2px;
    cursor: pointer;
    z-index: 7;
    border: 1px solid transparent;
  }

  .burger:focus {
    border: 1px solid var(--primary_main);
  }

  .burger__line {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: var(--primary_main);
    border-radius: 4px;
    transform-origin: left;
    transition: transform .3s ease;
  }

  .burger.active {
    .burger__line:first-child {
      transform: rotate(45deg) translateX(2px);
      transition: transform .3s ease;
    }

    .burger__line:nth-child(2) {
      display: none;
    }

    .burger__line:last-child {
      transform: rotate(-45deg) translateX(2px);
      transition: transform .3s ease;

    }
  }

  .tablet_nav__container {
    .header__box {
      display: none;
    }
  }

  .header_middle {
    position: relative;
  }

  .header__nav {
    position: absolute;
    top: -18px;
    left: 0;
    width: 100%;
    padding: 92px 0 60px 72px;
    background-color: var(--white);
    background-image: url('../img/svg/nav_bg.svg');
    background-repeat: no-repeat;
    background-size: 161px 112px;
    background-position: right 72px bottom 60px;
    border-top: 1px solid #C5C5C5;
    transform: translateY(-100%);
    transition: transform .3s ease;
    z-index: -1;
  }

  .header__nav.active {
    z-index: 2;
    transform: translateY(0);
    transition: transform .3s ease;
  }

  .header_middle__list {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 288px;
    max-height: 190px;
  }

  .header_middle__list__item:not(:last-child) {
    margin: 0;
  }

  .header_middle__list__item:not(:nth-child(3n)) {
    margin-bottom: 41px;
  }

  .header_middle__container {
    justify-content: space-between;

    .header__box {
      display: block;
    }

    .logo {
      margin: 0;
    }
  }

  .search_form__input {
    width: 83%;
  }

  .card,
  .card:nth-child(2),
  .card:nth-child(5),
  .product__item {
    width: calc((100% - 32px)/ 2);
  }

  .product__item {
    margin-right: 32px;
  }

  .product__item:nth-child(3n) {
    margin-right: auto;
  }

  .product__item:nth-child(2n) {
    margin-right: 0;
  }

  .useful__descr {
    max-width: 285px;
    font-size: 16px;
    line-height: 22px;
  }

  .footer__item:not(:last-child) {
    margin-right: 87px;
  }

  .footer__item:not(:last-child) {
    margin-right: 49px;
  }
}

@media screen and (max-width: 960px) {
  .feedback__img {
    max-width: 400px;
  }

  .footer_top__container {
    flex-direction: column;
  }

  .footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
  }

  .footer__logo {
    margin: 0;
    height: 30px;
  }

  .footer__item:not(:last-child) {
    margin-right: 0;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__list {
    justify-content: space-between;
  }
}

@media screen and (max-width: 860px) {
  .container {
    padding: 0 72px;
  }

  .tablet_nav {
    padding: 7px 0;
  }

  .header_middle {
    margin-bottom: 19px;
  }

  .search_form__input {
    width: 84%;
  }

  .bottom_header__label {
    .choices[data-type*=select-one] {
      width: 189px;
    }

    .choices__list--dropdown {
      width: 189px;
      padding: 22px 10px 30px 10px;
    }
  }

  .header_middle__container {
    .logo {
      height: 32px;
      margin-left: 67px;
    }
  }

  .swiper__controls {
    right: 72px;
  }

  .product_btn {
    margin: 0 auto 68px;
  }

  .new_collection__container {
    padding: 0 36px;
  }

  .new_collection {
    padding: 158px 0 150px;
  }

  .new_collection__descr {
    margin-bottom: 46px;
  }

  .new_collection__btn {
    padding: 20px 30px;
  }

  .top__field {
    .top__card:nth-child(1) {
      grid-column: 6 span;
      grid-row: 1 / 2;
    }

    .top__card {
      grid-column: 3 span;
    }

    .top__card:nth-child(2) {
      grid-column: 3 span;
      grid-column: 4 / 7;
    }

    .top__card:nth-child(3) {
      grid-column: 3 span;
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }
  }

  .top__card__link {
    bottom: 28px;
  }

  .swiper-slide.useful__article {
    width: calc((100% - 32px)/ 2);
  }

  .useful_title {
    margin-bottom: 26px;
  }

  .feedback__img {
    max-width: 188px;
  }

  .contacts__input {
    width: 405px;
  }

  .footer__item__title {
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 767px) {
  .tablet_nav__wrapper {
    display: none;
  }

  .header_top__container {
    margin: 0;
  }

  .header_middle {
    padding: 10px 0;
  }

  .bottom_header__label .choices[data-type*=select-one] {
    width: 200px;
  }

  .bottom_header__label {
    .choices__list--dropdown {
      width: 200px;
      padding: 22px 5px 30px 5px;
    }
  }

  .section_title {
    font-size: 28px;
  }

  .footer__item:not(:last-child) {
    margin-right: 23px;
  }

  .contacts__input {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 12px;
  }

  .card,
  .product__card__descr {
    padding: 0 20px 30px;
  }

  .card__title {
    font-size: 22px;
  }

  .swiper__controls {
    right: 12px;
  }

  .new_collection {
    padding: 50px 0;
  }

  .modal {
    width: 90%;
  }

}

@media screen and (max-width: 570px) {
  .header__nav {
    background-position: right 12px bottom 60px;
  }

  .promo_sale {
    font-size: 40px;
    line-height: 48px;
  }

  .section_title {
    font-size: 24px;
  }

  .card,
  .card:nth-child(2),
  .card:nth-child(5) {
    width: 100%;
  }

  .product_img__wrapper {
    min-height: 140px;
    padding: 0 16px;
  }

  .product__card__descr {
    .card__title {
      font-size: 18px;
    }
  }

  .new_collection__descr {
    font-size: 35px;
  }

  .footer__list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__item:nth-child(2) {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 484px) {
  .special_offers {
    margin-bottom: 119px;
  }

  .header_top {
    padding: 0;
  }

  .logo_mobile__wrapper {
    width: 100%;
    display: block;
    text-align: center;
    padding: 12px 0 11px;
    margin-bottom: 16px;
    background-color: var(--grey_light);
  }

  .logo_mobile__wrapper {
    padding: 10px 0 11px;
  }

  .logo {
    margin-left: -3px;
    height: 30px;
  }

  .header_top__container {
    flex-direction: column;
    align-items: start;
  }

  .city_label {
    margin-bottom: 16px;
  }


  .header_middle__container {
    .logo {
      display: none;
    }
  }

  .header_middle {
    padding: 31px 0 8px;
  }

  .burger {
    width: 31px;
    height: 31px;
  }

  .burger.active {
    .burger__line:first-child {
      transform: rotate(45deg) translateX(3px);
    }

    .burger__line:last-child {
      transform: rotate(-45deg) translateX(3px);
    }
  }

  .header__nav {
    top: 15px;
    padding: 65px 0 30px 12px;
    background-image: none;
  }

  .header_bottom__container {
    flex-wrap: wrap;
  }

  .search_form__input {
    width: 77%;
  }

  .search_form {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 16px;
  }

  .bottom_header__label {
    width: 100%;

    .choices[data-type*=select-one] {
      width: 100%;
    }

    .choices__list--dropdown {
      width: 100%;
    }
  }

  .header_middle__list {
    max-height: max-content;
  }

  .header_middle__list__item:nth-child(3) {
    margin-bottom: 41px;
  }

  .promo_sale {
    max-width: 250px;
    font-size: 20px;
    line-height: 27px;
  }

  .slide__inner {
    padding: 30px 0 30px 20px;
  }

  .promo_sale {
    margin-bottom: 95px;
  }

  .promo__swiper.swiper-container {
    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
    }
  }

  .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 6px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
  }

  .product__item {
    width: calc((100% - 16px)/ 2);
  }

  .product__item {
    margin-right: 16px;
  }

  .product__index {
    top: 14px;
    left: 16px;

    svg {
      width: 13px;
      height: 12px;
    }

    span {
      font-size: 12px;
    }
  }

  .product__item {
    margin-bottom: 16px;
  }

  .product__item:last-child {
    margin-bottom: 34px;
  }

  .product_img__wrapper {
    min-height: 120px;
    margin-bottom: 15px;
  }

  .card {
    padding: 0 30px 30px;
  }

  .product__card__descr {
    padding: 0 15px 13px;
  }

  .product__card__descr {
    .card__title {
      font-size: 16px;
    }
  }

  .product__card__price {
    margin-bottom: 16px;
  }

  .product__card__link {
    padding: 10px 22px;
  }

  .swiper__controls {
    top: auto;
    right: auto;
    left: calc((100% - 78px)/ 2);
    bottom: -48px;
    z-index: 2;
  }

  .product_btn {
    margin: 0 auto 70px;
  }

  .new_collection__descr {
    max-width: 200px;
    font-size: 16px;
    margin: 0;

    span {
      font-size: 24px;
      line-height: 1.3;
    }
  }

  .new_collection {
    padding: 30px 0 51px;
  }

  .new_collection__btn {
    position: relative;
    width: 100%;
    text-align: center;
    bottom: -143px;
  }

  .rating {
    margin-bottom: 163px;
  }

  .top {
    margin-bottom: 64px;
  }

  .top__card {
    overflow: hidden;
  }

  .top__field {
    column-gap: 16px;
  }

  .top__card__name {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 16px;
  }

  .feature {
    font-size: 10px;
    margin: 0;
  }

  .feature:not(:last-of-type) {
    margin-right: 50px;
  }

  .tablet_img {
    display: none;
  }

  .top__card:first-child {
    .feature:not(:last-of-type) {
      margin-right: 16px;
    }

    .top__card__name {
      margin-top: 15px;
    }

    .top__card__img {
      margin-left: -16px;
      width: 130%;
      max-width: 130%;
    }
  }

  .swiper-slide.useful__article {
    width: 100%;
  }

  .useful {
    margin-bottom: 117px;
  }

  .feedback_form__wrapper {
    margin: 0;
  }

  .feedback__img {
    display: none;
  }

  .fake_checkbox {
    width: 14px;
    height: 14px;
    padding-left: 1px;

    svg {
      vertical-align: 4px;
    }
  }

  .agreement {
    font-size: 12px;
    line-height: 16px;
  }

  .footer__inner {
    flex-direction: column;
    margin-bottom: 22px;
  }

  .footer__logo {
    margin-bottom: 24px;
  }

  .footer__item:not(:last-child) {
    margin-right: 0;
  }

  .footer__item:nth-child(2),
  .footer__item:nth-child(4) {
    width: 142px;
  }

  .modal__thank__text {
    font-size: 27px;
  }

  .contacts__input {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 355px) {
  .product_img__wrapper {
    min-height: 93px;
  }

  .promo_btn {
    display: none;
  }

  .promo_btn__container {
    display: block;
  }

  .promo_btn__mobile {
    display: block;
    width: 100%;
    text-align: center;
  }

  .promo__swiper.swiper-container {
    margin-bottom: 32px;
  }

  .top__card {
    position: relative;
    padding: 9px 0 16px 16px;
  }

  .card__title {
    max-width: 205px;
    margin: 0 0 21px;
  }

  .top__card__name {
    max-width: 125px;

    a {
      display: inline-block;
    }
  }

  .top__card__link {
    display: none;
  }

  .top__card:first-child {
    padding: 26px 0 16px 30px;

    .feature {
      font-size: 14px;
    }

    .top__card__name {
      font-size: 24px;
      line-height: 33px;
    }

    .top__card__img {
      margin-left: -73px;
    }
  }

  .top__card__img {
    margin-left: -16px;
    max-width: 121%;
  }
}

@media screen and (max-width:320px) {
  .top__card__link.dresser {
    top: 66px;
    right: calc(100% / 6.5);
  }

  .top__card__link.armchair {
    top: 45px;
    right: calc(100% / 3.5);
  }

  .top__card__link.chair {
    top: 49px;
    right: calc(100% / 3.4);
  }
}
